<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
  {{>navbar}}

    <!---- main --->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-----left div-->
                    <div class="col-md-12 col-12 main_header_left align-items-center ">
                        <figure class="errimg">
                            <img src="images/404.jpg" alt="sheri" class="img-fluid" title="Sheheryar developer ">
                        </figure>
                  
                    
                        <p> welcome to sheheryar profile</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"> <button> Go back</button> </a>
                    </div>
                      </div>
                    <!----right div-->


                </div>


            </div>

        </div>
    </div>
    <!---footer-->
  {{>footer}}

</body>

</html>